body {
			font-family: "Open Sans";
			background: rgb(38, 38, 38);
			margin: 0;
			padding: 0;
			padding-top: 15px;
			color: white;
		}
		
		.card {
			overflow: hidden;
			height: 320px;
		}
		
		.card-1 {
			background: rgb(52, 148, 95);
		}
		
		.card-2 {
			background: rgb(51, 129, 199);
		}
		
		.card-3 {
			background: rgb(234, 178, 0);
		}
		
		.card-4 {
			background: rgb(151, 81, 203);
		}
		
		.card-5 {
			background: rgb(255, 121, 121);
		}
		
		.info {
			padding: 0px;
			background-color: rgba(0, 0, 0, 0.15);
			min-height: 500px;
		}
		
		h1 {
			background-color: rgba(0, 0, 0, 0.1);
			text-align: center;
			font-size: 35px;
			line-height: 60px;
			margin: 0;
			margin-bottom: 15px;
			font-weight: 0 300;
		}
		
		.title {
			font-size: 25px;
			text-align: center;
			margin-bottom: 10px;
		}
		
		span.title,
		span.number {
			display: block;
		}
		
		.number {
			font-size: 60px;
			text-align: center;
			line-height: 60px;
			font-weight: bold;
			margin: 10px 0;
		}
		
		table {
			width: 100%;
		}
		
		td {
			padding: 10px;
		}
		
		.chart {
			padding: 20px;
		}
		
		board {
			padding: 15px;
			display: block;
		}
		
		widget {
			margin-bottom: 30px;
			overflow: hidden;
		}