<div>
    <div>
        <div class="col-md-6">
            <div class="card card-1">
                <div class="col-md-4 info" *ngIf="data">
                    <h1>Sms</h1>
                    <span class="title">Send today</span>
                    <span class="number">{{data.smsStats.sentToday}}</span>
                    <span class="title">Send last 7 days</span>
                    <span class="number">{{data.smsStats.sentLast7Days}}</span>
                </div>

                <div class="col-md-8 chart">
                    <div class="chart-holder">
                        <canvas id="chart-1" height="290px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-6">
            <div class="card card-2">
                <div class="col-md-4 info" *ngIf="data">
                    <h1>Mail</h1>
                    <span class="title">Send today</span>
                    <span class="number">{{data.emailStats.sentToday}}</span>
                    <span class="title">Send last 7 days</span>
                    <span class="number">{{data.emailStats.sentLast7Days}}</span>
                </div>

                <div class="col-md-8 chart">
                    <div class="chart-holder">
                        <canvas id="chart-2" height="290px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>